<ion-content>
  <ion-toolbar>
    <ion-title>Sobre o Projeto</ion-title>
  </ion-toolbar>

  <div class="modal-content">
    <ProjectStatusForm [projeto]="projeto"></ProjectStatusForm>

    <div *ngIf="selectedSegment === 'etapas'" class="segment-content">
      <ProjectAccordion
        *ngFor="let etapa of etapas; let i = index"
        [etapa]="etapa"
        [index]="i + 1">
      </ProjectAccordion>
    </div>
    

    <div *ngIf="selectedSegment === 'detalhes'" class="segment-content">
      <div class="card">
        <h2>Detalhes do projeto</h2>
        <p><strong>Descrição:</strong> {{ projeto?.descricao }}</p>
        <p><strong>Endereço:</strong> {{ projeto?.endereco }}</p>
        <p><strong>Tipo de Obra:</strong> {{ projeto?.tipoObra }}</p>
        <p><strong>Valor do Projeto:</strong> {{ projeto?.valorProjeto | currency:'BRL' }}</p>
      </div>
    </div>

    <div *ngIf="selectedSegment === 'ambientes'" class="segment-content">
      <h2>Ambientes</h2>
      <div *ngIf="ambientes && ambientes.length > 0; else noAmbientes">
        <ion-list>
          <ion-item *ngFor="let ambiente of ambientes">
            <ion-label>
              <h3>{{ ambiente.nome }}</h3>
              <p>Tamanho: {{ ambiente.tamanho }} m²</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <ng-template #noAmbientes>
        <p>Sem ambientes cadastrados.</p>
      </ng-template>
    </div>
  </div>
</ion-content>