<ToolbarVoltar 
[title]="'Dados da Mobília - Antessala'" 
[defaultHref]="'/dados-mobilia'">
</ToolbarVoltar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of roomItems; let i = index">
      <ion-label (click)="handlePress(i)">
        {{ item }}
        <ion-icon slot="end" [name]="expandedIndex === i ? 'chevron-up' : 'chevron-down'"></ion-icon>
      </ion-label>
      <ion-grid *ngIf="expandedIndex === i">
        <ion-row>
          <ion-col *ngFor="let chip of getChips(item)">
            <ion-chip
              [outline]="!isSelected(chip, getChipType(item))"
              color="primary"
              (click)="handleChipPress(chip, getChipType(item))"
            >
              <ion-label>{{ chip }}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ButtonLink [routerLink]="['/dados-mobilia']" text="Salvar e continuar"></ButtonLink>
</ion-content>
