<ion-content class="projetos-home-container">
  <div class="cabecalho">
    <img src="assets/icons/iconLogo.png" alt="Logo" />
    <ion-text class="name-page">Projetos</ion-text>
  </div>

  <div *ngIf="projetoList.length === 0">
    <div class="circle-container">
      <div class="outer-circle">
        <div class="inner-circle">
          <img src="assets/icons/iconLogo.png" alt="Logo" class="image" />
        </div>
      </div>
    </div>
    <br>


    <ion-text class="main-text">
      Não existem projetos no momento <br />
    </ion-text>
  </div>


  <br>
  <br>

  <ion-grid *ngIf="projetoList.length > 0">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let project of projetoList; let i = index">
        <ProjectCard [projectTitle]="project.nomeDoProjeto" [startDate]="project.dataDeInicio"
          [endDate]="project.dataPrevistaFim" [progress]="project.progress" [selecionado]="projetosSelecionados.has(i)"
          (selecionadoChange)="toggleProjetoSelecionado(i, $event)" (deleteProject)="deleteProject(i)"
          (click)="abrirDetalhesProjeto(project)">
        </ProjectCard>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ButtonAdicionarProjeto></ButtonAdicionarProjeto>




</ion-content>