<ToolbarVoltar
  [title]="'Tamanhos dos Ambientes'"
  [defaultHref]="'/dados-ambiente'"
>
</ToolbarVoltar>

<ion-content [fullscreen]="true">
  <h2 class="header">• Defina o tamanho em m²</h2>

<div class="ambientes-lista">
  <div *ngFor="let ambiente of ambientes; let i = index" class="ambiente-item">
    <label>{{ getNomeAmbiente(ambiente.nome, i) }}</label>
    <input 
      type="number" 
      [ngModel]="ambiente.tamanho" 
      (ngModelChange)="atualizarTamanho(ambiente, $event)"
      placeholder="Digite o tamanho em m²">
  </div>
</div>

</ion-content>

<ion-footer>
  <div class="container-buttonLink">
    <ButtonLink
      [routerLink]="['/home-com-projetos']"
      text="Salvar e continuar"
      (click)="salvarTamanhos()"
    ></ButtonLink>
  </div>
</ion-footer>
