<ToolbarVoltar [title]="'Dados dos Ambientes'" [defaultHref]="'/dados-projeto'">
</ToolbarVoltar>

<ion-content>
  <h2 class="header">• Selecione os ambientes</h2>

  <div class="container-ambiente-buttons">
    <app-ambiente-button nome="Quarto"></app-ambiente-button>
    <app-ambiente-button nome="Banheiro"></app-ambiente-button>
    <app-ambiente-button nome="Sala"></app-ambiente-button>
    <app-ambiente-button nome="Sala de Estar"></app-ambiente-button>
    <app-ambiente-button nome="Sala de Jantar"></app-ambiente-button>
    <app-ambiente-button nome="Cozinha"></app-ambiente-button>
    <app-ambiente-button nome="Varanda"></app-ambiente-button>
    <app-ambiente-button nome="Quintal"></app-ambiente-button>
    <app-ambiente-button nome="Quintal"></app-ambiente-button>
  </div>

  <div class="container">
    <ButtonLink
      [routerLink]="['/dados-ambientes-tamanho']"
      text="Salvar e continuar"
    ></ButtonLink>
  </div>
  
</ion-content>
