<ToolbarVoltar 
[title]="'Dados da Mobília - Sala'" 
[defaultHref]="'/dados-mobilia'">
</ToolbarVoltar>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of roomItems; let index = index">
      <ion-item (click)="handlePress(index)" detail="false">
        <ion-label>{{ item }}</ion-label>
        <ion-icon name="chevron-down" slot="end" *ngIf="expandedIndex !== index"></ion-icon>
        <ion-icon name="chevron-up" slot="end" *ngIf="expandedIndex === index"></ion-icon>
      </ion-item>
      <ion-list *ngIf="expandedIndex === index">
        <ion-item-group>
          <ng-container [ngSwitch]="item">
            <ng-container *ngSwitchCase="'Itens Sala - Chão'">
              <ion-item
                *ngFor="let chip of chipItemsChao"
                (click)="handleChipPress(chip, 'chao')"
                [ngClass]="{'selected-chip': selectedChips.chao.includes(chip)}"
              >
                <ion-label class="chip-text">{{ chip }}</ion-label>
              </ion-item>
            </ng-container>
            <ng-container *ngSwitchCase="'Itens Sala - Parede'">
              <ion-item
                *ngFor="let chip of chipItemsParede"
                (click)="handleChipPress(chip, 'parede')"
                [ngClass]="{'selected-chip': selectedChips.parede.includes(chip)}"
              >
                <ion-label class="chip-text">{{ chip }}</ion-label>
              </ion-item>
            </ng-container>
            <ng-container *ngSwitchCase="'Itens Sala - Teto'">
              <ion-item
                *ngFor="let chip of chipItemsTeto"
                (click)="handleChipPress(chip, 'teto')"
                [ngClass]="{'selected-chip': selectedChips.teto.includes(chip)}"
              >
                <ion-label class="chip-text">{{ chip }}</ion-label>
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-item-group>
      </ion-list>
    </ng-container>
  </ion-list>

  <ion-footer>
    <ButtonLink [routerLink]="['/dados-mobilia']" text="Salvar e continuar"></ButtonLink>
  </ion-footer>
</ion-content>
