page-itens-quarto {
    ion-card {
      width: 95%;
      height: 80%;
      background-color: var(--ion-color-primary);
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 100px;
      margin: 10px auto;
      justify-content: flex-start;
    }
  
    .dropdown-content {
      padding: 15px;
      background-color: #fafafa;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  
    .chips-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
    ion-chip {
      margin: 5px;
      padding: 10px 15px;
      border: 1px solid var(--ion-color-primary);
      border-radius: 30px;
      background-color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    ion-chip[selected] {
      background-color: var(--ion-color-secondary);
      border-color: var(--ion-color-secondary);
    }
  
    ion-chip[selected] ion-label {
      color: white;
    }
  
    ion-button {
      width: 90%;
      border-radius: 10px;
      height: 50px;
      margin: 20px auto 0;
      background-color: var(--ion-color-secondary);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      font-weight: bold;
    }
  }
  