.ambiente-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  
    button {
      height: 40px;
      min-width: 120px;
      border-radius: 25px;
      color: #3a5340;
      background-color: white;
      border: 1px solid #ccc;
      padding: 10px;
      margin-top: 8px;
      margin-right: 20px;
      transition: background-color 0.3s ease, color 0.3s ease;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
  
      &.selected {
        background-color: #3A5340; 
        color: white;
      }
    }
  
    label {
      font-size: 12px;
      margin-bottom: 0px; 
      display: block;
    }
  
    input {
      background-color: white;
      border: 1px solid #D9D9D9;
      border-radius: 6px;
      min-width: 170px;
      padding: 5px;
      margin-top: 7px;
      height: 35px;
    }
  }
  