<ion-header>
  <ion-toolbar>
    <ion-title>Dados do Cliente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item>
      <ion-label position="floating">Nome do cliente</ion-label>
      <ion-input
        [(ngModel)]="clienteData.nome"
        placeholder="Nome"
        (ionChange)="setClienteData('nome', $event.detail.value)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço do cliente</ion-label>
      <ion-input
        [(ngModel)]="clienteData.endereco"
        placeholder="Endereço"
        (ionChange)="setClienteData('endereco', $event.detail.value)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone do cliente</ion-label>
      <ion-input
        [(ngModel)]="clienteData.telefone"
        placeholder="Telefone"
        type="tel"
        maxlength="11"
        (ionChange)="setClienteData('telefone', $event.detail.value)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email do cliente</ion-label>
      <ion-input
        [(ngModel)]="clienteData.email"
        placeholder="Email"
        type="email"
        (ionChange)="setClienteData('email', $event.detail.value)"
      ></ion-input>
    </ion-item>

    <InputLink  
    placeholder="Email do cliente" 
    [text]="'Email'"
    keyboardType="email"
    autoCapitalize="none">></InputLink>

    <ButtonLink [routerLink]="['/dados-projeto']" text="Salvar e continuar"></ButtonLink>

  </div>
</ion-content>
