ion-item {
  align-items: center;
}

ion-checkbox {
  margin-right: 8px; 
}

.label-textarea {
  margin-bottom:10px; 
}

.textarea{
  --background: #94a78e; 
  --color: white; 
  --padding-start: 15px; 
  --border-radius: 15px;
}

