<div class="div-principal">
  <div class="div-inicio-termino-status-form">
    <p>Início: {{ projeto?.dataDeInicio | date: 'dd/MM/yyyy' }}</p>
    <p>Término: {{ projeto?.dataPrevistaFim | date: 'dd/MM/yyyy' }}</p>
  </div>

  <div class="status-select-container">
    <StatusSelect [label]="'Status'" [options]="[
    { label: 'Iniciado', value: 'Iniciado' },
    { label: 'Em andamento', value: 'Em Andamento' },
    { label: 'Finalizado', value: 'Finalizado' }
  ]" [selectedValue]="projeto.statusProjeto" (valueChange)="onStatusChange($event)">
    </StatusSelect>
  </div>
</div>