ion-card {
    padding: 8px;
    cursor: pointer;
    //background-color: #94a78e;
    border: solid #94a78e 2px;
  }
  
  ion-button {
    --color: primary;
  }

  .data-hora {
    flex: 2;
  }
  .data-hora2 {
    flex: 1;
  }
  