<ion-content class="container">
  <ion-img class="container-image" src="assets/icons/logo.png"></ion-img>

  <div class="container-form">
    <ion-item lines="none">
      <ion-input 
        [(ngModel)]="email"
        type="email"
        placeholder="E-mail"
        placeholder-style="color: white;">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input 
        [(ngModel)]="password"
        type="password"
        placeholder="Digite a sua senha"
        placeholder-style="color: white;">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input 
        [(ngModel)]="confirmPassword"
        type="password"
        placeholder="Confirme a senha"
        placeholder-style="color: white;">
      </ion-input>
    </ion-item>

    <WhiteButton [text]="'Cadastrar'" (click)="handleRegister()"></WhiteButton>
  </div>
</ion-content>
